In [1]:
import pandas as pd

In [2]:
TariffDB = pd.read_excel("usurdb3.xlsx", sheet_name='usurdb3', skiprows=1, engine='openpyxl', dtype={'name': str})

In [3]:
KeywordDF = pd.read_excel("Omar Key Word Filter for Electrolyzers.xlsx", engine='openpyxl', dtype={'Names': str})

In [4]:
KeywordDF.head()

,Names,Unnamed: 1,Mark's Additions,Unnamed: 3,Unnamed: 4
0,2nd meter,NaN,Commercial - Small,description,Commercial - Small
1,Academic,NaN,11 General Service,25 kw or less,Commercial - Small|11 General Service
2,Account,NaN,(General Service),NaN,Commercial - Small|11 General Service|(General...
3,Agribusiness,NaN,Medium General Service,NaN,Commercial - Small|11 General Service|(General...
4,Agricultural,NaN,General Service - Distribution,NaN,Commercial - Small|11 General Service|(General...

In [5]:
KeywordList = KeywordDF.Names.tolist()

In [6]:
TariffDB_Filtered = TariffDB[~TariffDB['name'].isin(KeywordList)]

In [7]:
TariffDB_Filtered2 = TariffDB[~TariffDB['name'].isin(KeywordDF['Names'])]

In [8]:
TariffDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32411 entries, 0 to 32410
Columns: 542 entries, label to coincidentschedule
dtypes: datetime64[ns](2), float64(509), int64(4), object(27)
memory usage: 134.0+ MB

In [9]:
TariffDB['name'].dropna(axis=0, inplace=True)

In [10]:
print(TariffDB.dtypes['name'])
TariffDB.info()

object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32411 entries, 0 to 32410
Columns: 542 entries, label to coincidentschedule
dtypes: datetime64[ns](2), float64(509), int64(4), object(27)
memory usage: 134.0+ MB

In [11]:
#TariffDB.name.lower()

In [12]:
TariffDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32411 entries, 0 to 32410
Columns: 542 entries, label to coincidentschedule
dtypes: datetime64[ns](2), float64(509), int64(4), object(27)
memory usage: 134.0+ MB

In [13]:
# flags any entries whose "name" field matches these words
TariffDB['Test'] = ~TariffDB.name.str.contains('2nd meter|Academic|Account|Agribusiness|Agricultural|Agriculture|Air conditioning|Air Force|Airport|All electric|All-electric|Alternative|Athletic|Backup|Ball field|Ball park|Ballfield|Barn|Basin program|Battery storage|Bay View Association Rate|Best Oil Co|Bike trail|Biomass|Boat|Booster|Bulk|Bus shelters|Buy all sell all|Buy/sell|c.a.r.e.s|Cabin|Cable Amplifier and Repeater Service|Camera|Camp|Canal gates|Capacity charge|Cargill rates|Catfish|Cathodic|Church|City Department|City Line Usage|City Treatment Plant|City usage|City use|Closed|Club house|Coal|Coal bed methane|Coast guard|Cogeneration|Cogeneration|Co-generation|Coincident peak|College|Comfort service|Community facilities|Community facility|Constant usage|Construction|Contractor|Controlled|Cotton gin|Credit|Crop|Curtailable|Customer retention|Dairies|Dairy|Demand control|Disabled|Discount|Drainage|Dual fuel|Dual meter|Easton Machine Works|Economic attraction|Economic development|Education|Educational|Elderly|Electric heat|Electric thermal storage|Employee|Energy development|Envirowatts Alternative Energy Program|Experimental|Fair|Farm stock|Farmer|Federal|Field|Filter|Fire|Firehall|Fish farming|Fixed load|Flood|Flood light|Fluctuating|Fraternity|Freedom heating|Frequency|Frost|Furnace|Gas|Generator|Gin|Gins|Good Cents|Gov office|Government|Governmental|Grain|Grain drying|Grain elevator|Green energy|Green power|Green pricing|Green tag|Green Watts|Heat meter|High load factor|Home Comfort Service|Horsepower|Hospital|Housing Authority|HPS|Hydro|Idle|Incremental load|Institutional|Interdepartmental|Internal City Service|Interruptible|Irrigation|Kansas Department of Transportation|LCom Energy|Library|Life-Line|Lighting|Line retention|Load control|Load management|Low income|Low load factor|Maintenance|Manufacturing|Marina Service Windworks Renewable Energy Certificate|Medical|Mercury vapor|Metal|Meterbase surge protection|Military|Mill|Minuteman Missile|Mountain top|Municipal|MV|Nested|Net energy metering|Net energy surge|Net Solar Generation Buy-Back|Net Surplus Compensation Rate|Nonprofit|Non-profit|Non-tax|Not for Profit|Obsolete|Off peak|Offpeak|Off-peak|Oil|Oil pumping|Oil related accounts|Oil well|Outdoor|Parallel|Parallel generation|Park|Partial requirements|Peak alert|Peanut|Phone booth|Photovoltaic|Pilot|Prepaid|Private|Project pumps|Public agency|Public authorities|Public authority|Public building|Pumping|Qualifying|Qualifying facilities|Quarry|Raft river|Range wells and rural load centers|Reactive supply and voltage control|Recreational|Rectifier|Regulation|Religious|Remote Site Services|Renewable|Renewable energy|Rental|Replacement energy|Resale|Restricted|Rice mills|Rider|RV park|Sanctuary|School|Seasonal|Security|Security light|Self|Senior Center|Senior housing|Separately metered|Sewage|Simultaneous Purchase and Sale|Siren|Ski|Small Power Production|Snowmaking|Space Heating|Special|Special Accs|Sports|Sprinkler|Sprinklers|Sr. citizen|Standby|State|Stockwells and Abandoned Farmsteads|Storage|Street|Street light|Summer|Suncor|Swimming|Tax exempt|Telecommunication|Telephone|Telephone booths|Television|Temporary|Thermal|Throwover|Timber trails|Tobacco barns|Total electric|Traffic|Transformer ownership|Transformer ownership discount|Transmission|Unbundled|Un-bundled|University|Unmetered|Utilities Facilities|Volunteer Fire Department|W System|Wal-Mart rates|Warning sirens|Water|Watt|Weekend|Well|Wheeling|Wholesale|Wind|Winter|Worship|X-ray|Yard|YFL|Secondary Distribution Small|IRRIGATION|Irrgiation|irrigation|less than 10 kw|less than 25 kw|less than 40 kw|less than 50 kw|less than 100 kw|25 kw or lessSecondary Distribution small|IRRIGATION|Irrgiation|Single Phase|SINGLE-PHASE|Single-Phase|irrigation|less than 25 kw|less than 50 kw|less than 40 kw|less than 100 kw|less than 10 kw|< 50 kW|<50kW|< 50kW|<40kW|< 40 kW|< 40kW|<10 kW|< 10 kW|<10kW|<100kW|< 100 kW|<100 kW|<500KW|<25KW|Small General Service|single phase|single-phase|Commercial - Small|11 General Service|(General Service)|Medium General Service|General Service - Distribution|AGS Secondary|Commercial, Small|31 kW to 100 kW|A-10 Medium General|General Service -Secondary|General Service-small|General Service Small|Small General Electric Service|Small Time-of-Day General Electric Service|RESIDENTIAL|less than 10KW'
, regex=True, case=False)

C:\Users\mchung\AppData\Roaming\Python\Python38\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [14]:
TariffDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32411 entries, 0 to 32410
Columns: 543 entries, label to Test
dtypes: bool(1), datetime64[ns](2), float64(509), int64(4), object(27)
memory usage: 134.1+ MB

In [15]:
TariffDB.head()

,label,eiaid,In LNG File?,name,is_default,startdate,enddate,utility,sector,description,...,coincidentratestructure/period0/tier0rate,coincidentratestructure/period0/tier0adj,coincidentratestructure/period1/tier0max,coincidentratestructure/period1/tier0rate,coincidentratestructure/period1/tier0adj,coincidentratestructure/period2/tier0max,coincidentratestructure/period2/tier0rate,coincidentratestructure/period2/tier0adj,coincidentschedule,Test
0,539f6a0aec4f024411ec8aa3,13799,NaN,MKEC - Interruptible Industrial Service,NaN,2010-01-14 01:00:00,NaT,Prairie Land Electric Coop Inc,Industrial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,539f6a0aec4f024411ec8aa7,16610,NaN,"Commercial & Industrial Demand, Single Phase (...",NaN,2013-01-01 06:00:00,NaT,"City of Scribner, Nebraska (Utility Company)",Commercial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,566aff055457a3db6ab1cdd5,16612,NaN,Commercial Service Polyphase,NaN,2015-06-30 23:00:00,2016-12-31,City & County of San Francisco (Utility Company),Commercial,This schedule is applicable to polyphase_x000D...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,55c8ca795457a3d55855f067,13734,NaN,Large Commercial,NaN,2015-01-16 01:00:00,NaT,"Northeast Oklahoma Electric Coop, Inc",Industrial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,539f6a0aec4f024411ec8aad,12439,3503.0,Irrigation,NaN,2013-11-01 00:00:00,NaT,"Midstate Electric Coop, Inc",Industrial,* Off-Season Rates: Applies to irrigation pump...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [16]:
TariffDB.name.value_counts().loc[lambda x : x>100]

Commercial               333
General Service          225
Large Commercial         168
Industrial               166
Large Power Service      162
Small Commercial         156
Large Power              108
Commercial Rate          107
Large General Service    105
Name: name, dtype: int64

In [17]:
#Removes "Test" field and moves it to front of dataframe
first_column = TariffDB.pop("Test")
TariffDB.insert(1, 'Test', first_column)

In [18]:
TariffDB.head()

,label,Test,eiaid,In LNG File?,name,is_default,startdate,enddate,utility,sector,...,coincidentratestructure/period0/tier0max,coincidentratestructure/period0/tier0rate,coincidentratestructure/period0/tier0adj,coincidentratestructure/period1/tier0max,coincidentratestructure/period1/tier0rate,coincidentratestructure/period1/tier0adj,coincidentratestructure/period2/tier0max,coincidentratestructure/period2/tier0rate,coincidentratestructure/period2/tier0adj,coincidentschedule
0,539f6a0aec4f024411ec8aa3,False,13799,NaN,MKEC - Interruptible Industrial Service,NaN,2010-01-14 01:00:00,NaT,Prairie Land Electric Coop Inc,Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,539f6a0aec4f024411ec8aa7,False,16610,NaN,"Commercial & Industrial Demand, Single Phase (...",NaN,2013-01-01 06:00:00,NaT,"City of Scribner, Nebraska (Utility Company)",Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,566aff055457a3db6ab1cdd5,True,16612,NaN,Commercial Service Polyphase,NaN,2015-06-30 23:00:00,2016-12-31,City & County of San Francisco (Utility Company),Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55c8ca795457a3d55855f067,True,13734,NaN,Large Commercial,NaN,2015-01-16 01:00:00,NaT,"Northeast Oklahoma Electric Coop, Inc",Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,539f6a0aec4f024411ec8aad,False,12439,3503.0,Irrigation,NaN,2013-11-01 00:00:00,NaT,"Midstate Electric Coop, Inc",Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#Full DB includes ~32,400 entries. Number of "Trues" is what qualifies as potential electrolyzer tariffs
TariffDB['Test'].value_counts()

False    19824
True     12587
Name: Test, dtype: int64

In [20]:
#Limit selections to tariffs whose energy charge is > 0 only. 
#Some have onsite generation and therefore negative tariff or no energy charge at all.
#This removes ~2,000 tariffs
TariffDB1 = TariffDB[TariffDB["Energy_TOU"]>0]

In [21]:
#TariffDB12 = TariffDB1[TariffDB1[''.info()

In [22]:
TariffDB1.head()

,label,Test,eiaid,In LNG File?,name,is_default,startdate,enddate,utility,sector,...,coincidentratestructure/period0/tier0max,coincidentratestructure/period0/tier0rate,coincidentratestructure/period0/tier0adj,coincidentratestructure/period1/tier0max,coincidentratestructure/period1/tier0rate,coincidentratestructure/period1/tier0adj,coincidentratestructure/period2/tier0max,coincidentratestructure/period2/tier0rate,coincidentratestructure/period2/tier0adj,coincidentschedule
0,539f6a0aec4f024411ec8aa3,False,13799,NaN,MKEC - Interruptible Industrial Service,NaN,2010-01-14 01:00:00,NaT,Prairie Land Electric Coop Inc,Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,539f6a0aec4f024411ec8aa7,False,16610,NaN,"Commercial & Industrial Demand, Single Phase (...",NaN,2013-01-01 06:00:00,NaT,"City of Scribner, Nebraska (Utility Company)",Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,566aff055457a3db6ab1cdd5,True,16612,NaN,Commercial Service Polyphase,NaN,2015-06-30 23:00:00,2016-12-31,City & County of San Francisco (Utility Company),Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55c8ca795457a3d55855f067,True,13734,NaN,Large Commercial,NaN,2015-01-16 01:00:00,NaT,"Northeast Oklahoma Electric Coop, Inc",Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,539f6a0aec4f024411ec8aad,False,12439,3503.0,Irrigation,NaN,2013-11-01 00:00:00,NaT,"Midstate Electric Coop, Inc",Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
TariffDB1.to_csv('FinalTariffList.csv')

In [36]:
#Limit on tariffs given low kW
TariffDB[TariffDB['name'].str.contains("<")].head(100)

,label,Test,eiaid,In LNG File?,name,is_default,startdate,enddate,utility,sector,...,coincidentratestructure/period0/tier0max,coincidentratestructure/period0/tier0rate,coincidentratestructure/period0/tier0adj,coincidentratestructure/period1/tier0max,coincidentratestructure/period1/tier0rate,coincidentratestructure/period1/tier0adj,coincidentratestructure/period2/tier0max,coincidentratestructure/period2/tier0rate,coincidentratestructure/period2/tier0adj,coincidentschedule
15,539f6a0aec4f024411ec8aeb,True,9186,NaN,General Service < 50 kW,NaN,NaT,2013-12-31 06:00:00,"Idaho Cnty L&P Coop Assn, Inc",Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,539f6b16ec4f024411ec9869,True,26916,NaN,Three-Phase < 50 kW,NaN,2011-07-01 06:00:00,2013-11-14 06:00:00,"Ravalli County Elec Coop, Inc",Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,539f6b63ec4f024411ec9c39,False,11571,NaN,Cp-3 Large Power Time-of-Day Service(<6000volt...,NaN,2009-06-01 06:00:00,2014-06-30 00:00:00,Manitowoc Public Utilities,Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1683,539f6c98ec4f024411ecabb5,False,17715,NaN,Commercial Irrigation <50 HP,NaN,2007-07-01 06:00:00,NaT,Southwestern Electric Coop Inc (Colorado),Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,539f6d6dec4f024411ecb5b1,True,20997,NaN,Small Commercial (3 phase < 50kVa),NaN,NaT,NaT,Yellowstone Valley Elec Co-op Inc.,Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22969,539f6f65ec4f024411eccdd3,True,20737,NaN,Large Power &#x226525;KW and <500KW - Secondar...,NaN,2012-01-01 06:00:00,2015-09-30 00:00:00,Willmar Municipal Utilities,Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23108,539fc45aec4f024c27d8c611,True,6335,NaN,LARGE THREE PHASE GENERAL SERVICE-(< 50 kW),NaN,2012-05-23 06:00:00,2014-07-21 23:00:00,"Firelands Electric Coop, Inc",Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25889,539f745bec4f024411ed07a9,True,20737,NaN,Three Phase Commercial <25KW rate,NaN,2012-01-01 06:00:00,2015-09-30 00:00:00,Willmar Municipal Utilities,Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27955,539f712aec4f024411ece2cb,True,19728,NaN,LPS-TOU - Large Power Service < 69 kV Service,NaN,2013-06-01 06:00:00,2016-08-21 00:00:00,"UNS Electric, Inc",Industrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28802,539f701eec4f024411ecd673,True,590,NaN,General Service- <50 kV -Schedule -GS-2,NaN,2013-08-01 06:00:00,2017-04-30 00:00:00,"City of Anaheim, California (Utility Company)",Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
TariffDB2.head(100)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: name, Length: 100, dtype: bool